@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --default-font-color: #080808;

    /* CTA */
    --cta-primary-bg-default: #0B2D46;
    --cta-primary-bg-hover: #0A649A;
    --cta-primary-bg-inactive: #83CFF9;
    --cta-primary-border-radius: 12px;
    --cta-primary-padding: 16px 0;
    --cta-primary-font-color: #fff;

    /* Input */
    --input-text-background: #E1F1FD;
    --input-border-radius: 10px;
    --input-border-color: #888;
    --input-border-color-focus: #0B7BD2;
    --input-padding: 16px 20px;
}

@layer components {
    .btn-primary {
        width: 100%;
        background-color: var(--cta-primary-bg-default);
        border-radius: var(--cta-primary-border-radius);
        padding: var(--cta-primary-padding);
        color: var(--cta-primary-font-color);
    }
    .input {
        width: 100%;
        background-color: var(--input-text-background);
        border-radius: var(--input-border-radius);
        border: 1px solid var(--input-border-color);
        padding: var(--input-padding);
        outline: none;
    }
    .input:focus {
        border-color: var(--input-border-color-focus);
        outline: 1px solid var(--input-border-color-focus);
    }

    .form {
        @apply flex md:w-1/2 md:gap-14 gap-5 flex-col w-full p-2;
    }
}