@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --default-font-color: #080808;
    --default-bg-color: #fff;

    --dark-font-color: #fff;
    --dark-bg-color: #000;

    /* CTA */
    /* ================================== */
    --cta-primary-bg-default: #0B2D46;
    --cta-primary-bg-hover: #0A649A;
    --cta-primary-bg-inactive: #83CFF9;

    --cta-primary-border-radius: 12px;

    --cta-primary-padding: 14px 0;

    --cta-primary-font-color: #fff;

    --dark-cta-primary-bg-default: #567FDB;
    --dark-cta-primary-bg-hover: #769FE4;
    --dark-cta-primary-bg-inactive: #A2C1EE;

    /* Input */
    /* ================================== */
    --input-text-background: #fff;
    --dark-input-text-background: #000;

    --input-border-color: #888;
    --input-border-color-active: #0B7BD2;

    --input-border-radius: 10px;

    --input-padding: 12px 14px;

    --input-placeholder-color-default: #888;
    --input-placeholder-color-active: #0B7BD2;
    --input-border-color-focus: #0B7BD2;




    /* Alert */
    /* ================================== */
    --error-color: #E25153;

    /* Icon */
    /* ================================== */
    --icon-color: #0B2D46;
    --icon-color-hover: #83CFF6;
    --icon-color-active: #0B2D46;

    /* Toggle */
    /* ================================== */
    --toggle-bg: #83CFF6;
    --toggle-pin-bg: #0B2D46;
    --toggle-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    /* Avatar */
    /* ================================== */
    --avatar-border-color: #000;
    --dark-avatar-border-color: #fff;


    /* Typo */
    /* ================================== */

    /* Main Title */
    --main-title-font-size: 48px;
    --main-title-font-weight: 700;
    --main-title-line-height: 48px;

    /* Tagline */
    --tagline-font-size: 20px;
    --tagline-font-weight: 300;
    --tagline-line-height: 24px;

    /* Text Button */
    --text-button-font-size: 20px;
    --text-button-font-weight: 400;
    --text-button-line-height: 20px;

    /* Text Accent */
    --text-accent-font-size: 24px;
    --text-accent-font-weight: 600;
    --text-accent-line-height: 24px;

    /* Text Large */
    --text-large-font-size: 20px;
    --text-large-font-weight: 400;
    --text-large-line-height: 20px;

    /* Text Regular */
    --text-regular-font-size: 16px;
    --text-regular-font-weight: 400;
    --text-regular-line-height: 16px;


}

/* ================================================================= */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--default-font-color);
    background-color: var(--default-bg-color);
}

body.dark {
    color: var(--dark-font-color);
    background-color: var(--dark-bg-color);
}

@layer base {
    /* Main Title */
    .main-title {
        font-size: var(--main-title-font-size);
        font-weight: var(--main-title-font-weight);
        line-height: var(--main-title-line-height);
    }
    
    /* Tagline */
    .tagline {
        font-size: var(--tagline-font-size);
        font-weight: var(--tagline-font-weight);
        line-height: var(--tagline-line-height);
    }
    
    /* Text Button */
    .text-button {
        font-size: var(--text-button-font-size);
        font-weight: var(--text-button-font-weight);
        line-height: var(--text-button-line-height);
    }
    
    /* Text Accent */
    .text-accent {
        font-size: var(--text-accent-font-size);
        font-weight: var(--text-accent-font-weight);
        line-height: var(--text-accent-line-height);
    }
    
    /* Text Large */
    .text-large {
        font-size: var(--text-large-font-size);
        font-weight: var(--text-large-font-weight);
        line-height: var(--text-large-line-height);
    }
    
    /* Text Regular */
    .text-regular {
        font-size: var(--text-regular-font-size);
        font-weight: var(--text-regular-font-weight);
        line-height: var(--text-regular-line-height);
    }
}


/* Components */
/* ================================== */
@layer components {
    .btn-primary {
        width: 100%;
        background-color: var(--cta-primary-bg-default);
        border-radius: var(--cta-primary-border-radius);
        padding: var(--cta-primary-padding);
        color: var(--cta-primary-font-color);
        line-height: 1;
        font-size: 16px;
    }

    .input {
        width: 100%;
        background-color: var(--input-text-background);
        border-radius: var(--input-border-radius);
        border: 1px solid var(--input-border-color);
        padding: var(--input-padding);
        outline: none;
        line-height: 1;
        font-size: 16px;
    }
    .input:focus {
        border-color: var(--input-border-color-focus);
        outline: 2px solid var(--input-border-color-focus);
    }
    .dark input {
        color: var( --dark-input-text-background);
    }

    .form {
        @apply flex gap-12 flex-col w-[418px] mx-auto;
    }

    .avatar {
        margin: 20px;
        border: 2px solid var(--avatar-border-color);
        border-radius: 50%;
    }
    .dark .avatar {
        border-color: var(--dark-avatar-border-color);
    }

    /* DarkMode */
    /* ========================== */
    .dark .btn-primary {
        background-color: var(--dark-cta-primary-bg-default);
    }
    .dark .btn-primary:hover {
        background-color: var(--dark-cta-primary-bg-hover);
    }
}